.AllCards {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 50px;

    .cardColumn {
      background-color: slategray;
      min-width: 400px;
      margin-left: 5%;
      max-height: 700px;
      overflow-y: scroll;
      border-radius: 10px;
    }

    .cardBreakdown {
      background-color: slategray;
      min-width: 800px;
      margin-right: 5%;
      max-height: 700px;
      overflow-y: scroll;
      margin-left: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}
