.AllCards {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  .generalButton {
    color: #ffff;
    background-color: #009879;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .addNewCardButton {
    margin: 25px auto 10px auto;
  }

  &__content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 15px 20px 0 20px;

    .imageColumn,
    .breakdownColumn {
      background-color: slategray;
      height: 100vh;
      max-height: 700px;
      overflow-y: scroll;
      border-radius: 10px;
    }

    .imageColumn {
      min-width: 347px;
      flex-grow: 0.1;

      .getSummaryButton {
        margin: 30px;
      }
    }

    .breakdownColumn {
      flex-grow: 0.5;
      width: 70%;
      min-width: 645px;
    }

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}
