.AllCards {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 50px;
    gap: 10px;

    .cardColumn,
    .breakdownColumn {
      background-color: slategray;
      max-height: 700px;
      overflow-y: scroll;
      border-radius: 10px;
      flex-grow: 1;
      min-height: 730px;
    }

    .cardColumn {
      min-width: 345px;
      flex-grow: 0.1;
    }

    .breakdownColumn {
      min-width: 40%; // needs a solid px after implementing content of it
      flex-grow: 0.7;
    }

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}
